/bexp_soil_layers_stag=1.tif
/bexp_soil_layers_stag=2.tif
/dksat_soil_layers_stag=1.tif
/psisat_soil_layers_stag=1.tif
/smcmax_soil_layers_stag=1.tif
/smcwlt_soil_layers_stag=1.tif
/bexp_soil_layers_stag=3.tif
/bexp_soil_layers_stag=4.tif
/dksat_soil_layers_stag=2.tif
/dksat_soil_layers_stag=3.tif
/dksat_soil_layers_stag=4.tif
/psisat_soil_layers_stag=2.tif
/psisat_soil_layers_stag=3.tif
/psisat_soil_layers_stag=4.tif
/smcmax_soil_layers_stag=2.tif
/smcmax_soil_layers_stag=3.tif
/smcmax_soil_layers_stag=4.tif
/smcwlt_soil_layers_stag=2.tif
/smcwlt_soil_layers_stag=3.tif
/smcwlt_soil_layers_stag=4.tif
